<div class="flex justify-center<%= " #{klass}" if klass %>"
     data-controller="dropdown"
     data-action="click@window->dropdown#hide touchend@window->dropdown#hide"
     >
  <div>
    <div class="dropdown relative">
      <% block.call %>
    </div>
  </div>
</div>
